<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="path/to/material-ui-styles.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'intro_app/css/styles.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="Main">
        <div class="Main_one">
            <div class="Maindiv_summary">
                <h1 class="summary_title">S U M M A R Y</h1>
                <p class="summary_detail">A hardworking and committed individual, who believes in self-learning and consistent improvement. 
                    A technology enthusiast with a strong engineering mindset. An undaunting believer in 
                    selflessness, empathy and honesty.
                </p>
            </div>
            <div class="Main_about">
                <h1 class="Main_about_title">ABOUT ME</h1>
                <div class="Main_about_detail">
                    <div class="Main_about_detail_p1div">
                        <p class="paragraph">I hope this message finds you in good health. I am Zeeshan Haider. I hail from Lahore and graduated as a Mechanical Engineer from UET Lahore. 
                        Subsequently, I began my career as a research engineer at Cerad (Center for Energy Research 
                        and Development). In this role, I developed various CAD assemblies and oversaw their manufacturing processes. 
                        Later, I transitioned to the industrial sector, serving as an assistant development manager in an automotive 
                        company is a pivotal role within the organization. 
                        </p>
                    </div>
                    <div class="Main_about_detail_p1div">
                        <p class="paragraph">
                            Throughout my four years at the university, I actively engaged in weekend projects. 
                            I had the honor of representing Pakistan twice in an international event organized by 
                            ASME (American Society of Mechanical Engineers). ASME releases a yearly problem statement, 
                            leading to Student Design contests at the local and country levels. Winners of local contests 
                            qualify for the final round in the USA. Our team participated in the SDC organized by GIKI, 
                            winning at the Pakistan level and qualifying for the final round in Houston, Texas in 2015. 
                            The subsequent year, our team excelled once again, reaching the final round in Phoenix, Arizona. 
                            One of my most captivating projects involved designing and developing an Ornithopter—a bionic flying 
                            bird. I proposed a unique theory on bird flight, derived my own thrust and lift equations, 
                            and successfully manufactured the complete bird to validate my theories.
                        </p>
                    </div>
                    <div class="Main_about_detail_p1div">
                        <p class="paragraph">
                            Shifting gears to my transition to the software field, the pandemic brought challenges, 
                            leading me to reevaluate my career path during lockdowns and widespread layoffs. 
                            Consulting with my brother, a fullstack developer in a Silicon Valley-based company, 
                            I decided to venture into coding. Coding soon became my passion, prompting a full switch 
                            to the software field with a focus on Python.
                        </p>   
                    </div>
                    <div class="Main_about_detail_p1div">
                        <p class="paragraph">
                            To establish a robust theoretical foundation, I undertook C++ assignments and lab projects at FAST 
                            University Lahore. Furthering my knowledge in areas such as Object-Oriented Programming, data structures, 
                            and memory management, I completed courses in both frontend and backend development. Practical experience 
                            followed through internships, including a six-month stint at Folio3, where I earned a Gold badge in problem-solving 
                            on HackerRank and Python. Additionally, I learned Flask and developed REST APIs for a hiring system. Subsequently, a 
                            three-month internship at Inaequo Solutions honed my skills in front-end technologies like JavaScript and React, 
                            culminating in my position as a Trainee Engineer.
                        </p>
                    </div>
                    <div class="Main_about_detail_p1div">
                        <p class="paragraph">
                            Dedicated and team-oriented, I am passionate about problem-solving and continually seek opportunities for growth. 
                            My adaptability and readiness to tackle challenging assignments are among my strengths. Some of my skills are mentioned below.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="Main_two">
            <h1 class="summary_title">ACHIEVEMENTS</h1>
            <div class="Main_two_sub2">
                    <div class="Main_two_img_one">
                        <img class="image_one" src="{% static 'intro_app/images/Black_Hawk.jpg' %}" alt="">
                        <p class="text">This is Ornithopter(Bionic flying bird) I designed and developed this using my own equations of Thrust and lift force</p>
                    </div>
                    <div class="Main_two_img_two">
                        <img class="image_two" src="{% static 'intro_app/images/releif_robot.jpg' %}" alt="">
                        <p class="text">This was built for SDC (Student Design Contest) final round held at Houston Texas.</p>
                    </div>
                    <div class="Main_two_img_three">
                        <img class="image_three" src="{% static 'intro_app/images/paper_plane_machine.jpg' %}" alt="">
                        <p class="text">SDC (Student Design Contest) final round held at Phoenix Arizona.</p>
                    </div>
            </div> 
        </div> 
    </div>
</body>
</html>